@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 300;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansDisplay-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 400;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 500;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansDisplay-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 700;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansDisplay-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 300;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansArabicUI-Light.woff2') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 400;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansArabicUI-Regular.woff2') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 500;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansArabicUI-Medium.woff2') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
    font-family: 'aasaam-Noto';
    font-display: swap;
    font-weight: 700;
    src: url('node_modules/@aasaam/noto-font/dist/aasaamNotoSansArabicUI-Bold.woff2') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE80-FEFC;
}

body,
input,
select,
textarea {
    font-family: "aasaam-Noto", sans-serif;
}

*,
::before,
::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0 16px;
    background-color: #cbe3d6;
    margin: 0;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#form {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    color: teal;
    @extend .shadow;

    fieldset {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    button {
        margin: auto;
        padding: 12px 25px;
        border: unset;
        border-radius: 15px;
        color: teal;
        font-weight: 600;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-size: 1em;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
        overflow: hidden;
    }

    button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: teal;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px teal;
        box-shadow: 4px 8px 19px -3px teal;
        transition: all 250ms
    }

    button:hover {
        color: #e8e8e8;
    }

    button:hover::before {
        width: 100%;
    }

    .field {
        display: grid;
        grid-template-columns: 3fr 7fr;
        align-items: center;
        gap: 16px;
        max-width: 100%;

        input,
        button {
            @extend .shadow;
            color: teal;
            background-color: unset;
            padding: 8px;
            border-radius: 4px;
            border: none;
            font-size: 1em;
            width: 100%;
        }

        label {
            width: 100%;
        }

    }

    .radio {
        display: grid;
        grid-template-columns: 3fr 7fr;
        align-items: center;
        gap: 16px;
    }

    legend {
        padding: 0;
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 16px;
        text-align: center;
        font-weight: 600;
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.hero {
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}